<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @slide.content %>
</p>

<p>
  <b>Micropost:</b>
  <%= @slide.micropost_id %>
</p>


<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
