<li>
  <span class="content"><%= @post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
  </span>
  <% if current_user?(@post.user) %>
    <%= link_to "delete", @post, method: :view,
                                     confirm: "You sure?",
                                     title: @post.content %>
  <% end %>
</li> 
<% @slides.each do |slide| %>
  <tr>
    <td><p><%= slide.content %></p></td>
    <td><%= slide.micropost_id %></td>
    <img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="https://s3.amazonaws.com/photoblog/uploads/slide/image/27/sold.png?AWSAccessKeyId=ASIAI7PBJEEDYPJNA72Q&amp;Expires=1363595730&amp;Signature=gkpTsINyULd2Yo%2B5/e71EUIrIFY%3D&amp;x-amz-security-token=AQoDYXdzEBEakALjq9UO%2Bw2VnhOiFv9SksSiKrsty4V6qGulVXc3/56L2rsuhpGX%2BHSoHG7LZJXLJJNDvOTYGn2LctnyMZYqtVtWbPNzxFoOazxSa/j1VkyXPqAy3huWlgJojgg%2BpBfmU91Co/jVkcHrjDyZYPiifw4w5YF24v650zVP9G%2BIzE6MDoXq4q2RO6CYvVYv/4zaB3CQxCMy8zGqC6a0d%2B5KbRD2cRnDIk7ax1nJbANTNLKAu5%2BBrYpDbM7kcBFdJqG8Q8pxCMf0BZrHER5RGTqKqTG5D2LswjRhR6B/fOIgMz1dYHPlUOvB4Sx6zArFb0qpSAFBcrnzYYXRGxzXnPNP1QJy%2BReIWBAF1Jtm5YTSJs87LiCrkJuKBQ%3D%3D" width="271" height="271">
    <td><%= link_to 'Show', slide %></td>
    <td><%= link_to 'Edit', edit_slide_path(slide) %></td>
    <td><%= link_to 'Destroy', slide, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<%= form_for(@slide) do |f| %>
  <%= render 'shared/error_messages', object: @slide %>

    <%= f.hidden_field :micropost_id, :value => @post.id %>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>

<%= f.submit "Add Slide", class:"btn btn-large btn-primary" %>
<% end %>
